In [2]:
# importing libraries

import numpy as np
import pandas as pd
import scipy.stats as stats

In [3]:
# importing data file to python

sales_data = pd.read_csv('Sales_add.csv')
sales_data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
#To check whether the data is having  no null values in any columns
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [1]:
# no null data in any columns

# The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing

In [18]:
# Creating Hypothesis

# H0: There is no increase in sales after stepping to digital marketing - μ1=μ2
# H1: There is increase in sales after stepping to digital marketing - μ1>μ2

In [16]:
# Since we have to test the increase in sales with same sample ,we will use paired sample t test

In [4]:
sales_before_add = sales_data['Sales_before_digital_add(in $)']
sales_after_add = sales_data['Sales_After_digital_add(in $)']

In [25]:
tvalue,pvalue = stats.ttest_rel(sales_before_add,sales_after_add)

In [26]:
print('tvalue= ',tvalue,'pvalue = ',pvalue)

tvalue=  -12.09070525287017 pvalue =  6.336667004575778e-11

In [27]:
sig_level=0.05
if(pvalue < sig_level):
    print('Reject H0:There is no increase in sales after stepping to digital marketing')
else:
    print('Fail to reject H0 :There is no increase in sales after stepping to digital marketing')

Reject H0:There is no increase in sales after stepping to digital marketing

$\color{red}{\text{The hypothesis testing shows that there is indication of increase in sales after stepping into digital marketing}}$

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [35]:
data_group=sales_data.groupby('Region')['Manager'].value_counts().unstack()
data_group

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [29]:
# grouping variables and factors into row and columns to do chi square test to check dependency
# Hypothesis

# H0:Region and Manager features are independent
# H1:Region and Manager features are dependent

In [30]:
#checking contingency table with crosstab function
pd.crosstab(sales_data['Region'],sales_data['Manager'])

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [36]:
#perform the Chi-Square Test of Independence
chivalue,pvalue,df,expvalues=stats.chi2_contingency(data_group)

In [37]:
print('Chi sqaure Test Statistic:',chivalue)
print('Pvalue of test data;',pvalue)
print('Degrees of Freedom:',df)
print('expected observations of data:',expvalues)

Chi sqaure Test Statistic: 3.050566893424036
Pvalue of test data; 0.5493991051158094
Degrees of Freedom: 4
expected observations of data: [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [38]:
# calculating chi square criteria value 

#significance level= 0.05 and 
#degrees of freedom =(3-1)*(3-1)=4 

chicriteria=stats.chi2.ppf(1-0.05,4)
print('chicriteria =',chicriteria)

chicriteria = 9.487729036781154

In [39]:
if(chivalue>chicriteria and pvalue<0.05):
    print('Reject H0: Region and Manager features are independent')
else:
    print('Reject H1:Region and Manager features are dependent')

Reject H1:Region and Manager features are dependent

$\color{red}{\text{The Chi square test shows that the Features Region and Manager are independent}}$